<h1>Reviews</h1>

<a href="/">Back to Home</a>

<h1>{{review.title}}</h1>
<h2>{{review.movieTitle}}</h2>
<p>{{review.description}}</p>

<a href="/reviews/new">New Review</a>

{{#each reviews}}
    <h2>{{this.title}}</h2>
    <small>{{this.movieTitle}}</small>
{{/each}}
